tardis.modified.yaml
*.buf
*eternity8*
*.swp
*.swo
*.pyc
*.lst
*~
do_not_version_control
.tags
tags
.metadata
target/
member-web/node/
member-web/node_modules/
cj.offer.ad.Ad/
advertiserCacheMap.json
*.log
velocity.log*
b2b/processDir/
b2b/*.tsv
b2b2-export/*.txt
b2b2-export/NewCatalogUpdateListener.flag
common-test/bin
database/test/ddl/*/final_cr_*_schema.sql
database/src/cdc_cats_summaries_body.sql
database/src/crt_cdc_subscriber.sql
database/src/insertcontactuser.sql
finance/payout.txt
intranet/payout.txt
cj-realnetwork-integration/src/generated-sources/
cj-realnetwork-integration-oldVersion/src/generated-sources/
database/test/devdbLocal/devdb_grants_specific.sql
database/test/devdbLocal/devdb_init_specific.sql
database/test/devdbLocal/devdb_user_specific.sql
*.ipr
*.iml
*.iws
.idea
idea_project_files/*
.project
.project.MSORG
.classpath
.settings
.cache
.cache-main
.cache-tests
*.class
*/bin
ws-web/devenv
webservices-regression/stub_test/output.txt
product-api/product-domain/testFile
tmp
payload-1.0-SNAPSHOT.one-jar.jar
payload.zip
uber-pom-creator-0.1.one-jar.jar
uberjar/pom.xml
nohup.out
NewCatalogUpdateListener.flag
test-container-*
ztest-container-*
trackdb.h2.db
trackdb.lock.db
assets.tar.gz
core-ts-smoke-test/run-core-ts-smoke-test.sh
tracking-internal-api-server/velocity.log*
webservices-regression/SOAPSmokeTests/dependency-reduced-pom.xml
.cj-mongo-trackdb.properties
.vimindex
.externalToolBuilders
.groovy
overlays
.DS_Store
*/src/test/groovy/META-INF/
**/src/main/groovy/META-INF/
atlassian-ide-plugin.xml
test.jsx
*/.gitignore
*/*/.gitignore
data/datawarehouse/flo/lib/
data/datawarehouse/bucket/datawarehouse/


